.Rproj.user
.Rhistory
.RData
.Ruserdata
qiime2
raw
xpress
Data_analysis_its_amplicons.docx
Data_analysis_its_amplicons.pdf
Data_analysis_its_amplicons.qmd
ITS_m3
long_sequences.pdf
long_sequences.qmd
results